@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Public sans";
  src: url("./assets/fonts/PublicSans.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/Roboto.woff2");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins.ttf");
}

* {
  @apply font-poppins text-primary-3 m-0 p-0 cursor-none;
}

body {
  @apply bg-primary-2 overflow-x-hidden;
}

.froboto > span {
  @apply font-roboto;
}

.hidden-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}