@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Public sans";
  src: url("./assets/fonts/PublicSans.ttf");
}

@font-face {
  font-family: "Eurostile";
  src: url("./assets/fonts/eurostile.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/Roboto.woff2");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins.ttf");
}

* {
  @apply font-euro text-primary-1 m-0 p-0;
}

body {
  @apply bg-primary-2 overflow-x-hidden;
}

.froboto > span {
  @apply font-roboto;
}

.hidden-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  @apply bg-black w-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-white;
}

.section {
  @apply px-4 mt-nav h-anav tracking-widest w-full;
}
.comment {
  @apply text-primary-5;
}