@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Public sans";
  src: url("./assets/fonts/PublicSans.ttf");
}

@font-face {
  font-family: "Eurostile";
  src: url("./assets/fonts/eurostile.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/Roboto.woff2");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins.ttf");
}

* {
  @apply font-euro text-primary-1 m-0 p-0;
}

body {
  @apply bg-primary-2 overflow-x-hidden;
}

.hidden-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  @apply bg-black w-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-4/70;
}

.hex {
  clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 81%, 80% 100%, 20% 100%, 0 80%, 0 20%);
  -webkit-clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 81%, 80% 100%, 20% 100%, 0 80%, 0 20%);
}

.section {
  @apply px-4 mt-nav h-anav tracking-widest w-full;
}
.comment {
  @apply text-primary-5;
}
.button {
  @apply  bg-primary-2 text-primary-1 px-3 gap-2 flex border-2 items-center justify-center py-1 rounded-md w-fit border-primary-1 hover:bg-primary-1/90 hover:text-primary-2 duration-100 cursor-pointer;
}